*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-a: rgb(218, 210, 210);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
}

.App {
  text-align: center;
  /* padding-top: 2rem; */
  padding: 2rem;
}

.health {
  height: 3rem;
  width: 25rem;
  background: rgb(218, 210, 210);
  /* margin: auto; */
  border-radius: 20px;
  border: 3px solid rgb(114, 15, 15);
}

.level {
  background: rgb(218, 210, 210);
  font-size: 1.5rem;
  max-width: 30rem;
  margin: 1rem auto;
}


.tracker {
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  /* gap: 2rem; */
}

.gold {
  font-size: 2.5rem;
  position: absolute;
  /* transform: translateX(11rem); */
  transform: translate(11rem, -0.5rem);
  background: rgb(211, 176, 81);
  border-radius: 100px;
  padding: 5px;
  min-width: 4rem;
}

.health-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.wrapper-shop {
  /* position: absolute;
  top: 0;
  transform: translate(2rem, 8rem); */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-top: 2rem;
}

.shop-grid {
  /* display: flex;
  gap: 1rem;
  padding-top: 1rem; */
  display: flex;
  justify-content: center;
}

.shop-icon {
  /* width: 5rem; */
  /* height: 2rem; */
  /* border: 2px solid maroon; */
  border-radius: 10px;
  /* background: var(--clr-a); */
}

.shop-icon, button {
  /* border: none; */
  width: 4rem;
}

.enemy {
  margin: auto;
  height: 20rem;
  max-width: 30rem;
  background: rgb(18, 95, 43);
  /* border-radius: 100px; */
  /* transition: background-color 100ms ease-out; */
}

.wrapper-bar {
  width: 40%;
  margin: auto;
  /* border: 3px solid red; */
}

.bar-content {
  background: blue;
  margin: auto;
  transition: all 1s ease;
}

.slime {
  background: hsla(120, 100%, 25%, 0.5);
  border: 5px solid hsl(120, 100%, 25%);
}

.treant {
  background: hsla(0, 59%, 41%, 0.5);
  border: 5px solid hsla(0, 59%, 41%);
}

.goblin {
  background: hsla(0, 100%, 50%, 0.507);
  border: 5px solid hsla(0, 100%, 50%);
}

.hat {
  background: hsla(0, 2%, 20%, 0.418);
  border: 5px solid hsla(0, 2%, 20%, 0.418);
}

.broom {
  background: hsla(60, 100%, 50%, 0.507);
  border: 5px solid hsla(60, 100%, 50%);
}

.enemy:active {
  /* background: rgb(138, 26, 26);
  transition: background-color 100ms ease; */
  width: 28rem;
}