@import url("https://fonts.googleapis.com/css?family=Silkscreen");

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  /* background: rgba(0, 0, 255, 0.288); */

}

:root {
  --clr-a: rgb(218, 210, 210);
  --anim-moveY: moveY 2000ms infinite;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: Silkscreen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(65, 71, 82);
  text-align: center;
  padding: 2rem 30vw;
  border-bottom: 2px solid black;
}

.header {
  background: rgb(142, 189, 165);
}

.header-text {
  /* transform: translateY(1rem); */
  /* animation: moveY 2000ms infinite; */
  animation: var(--anim-moveY);
  /* animation-iteration-count: infinite; */
}


.App {
  /* text-align: center;
  padding: 2rem; */
  background: rgb(142, 155, 179);
  /* border-top: 5px solid black; */
  border: 7px solid rgb(37, 36, 36);
  border-radius: 5px;
}

.health {
  /* height: 3rem; */
  /* width: 25rem; */
  /* background: rgb(218, 210, 210); */
  /* margin: auto; */
  /* border-radius: 20px; */
  /* border: 3px solid rgb(114, 15, 15); */
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 3rem;
  /* color: rgb(105, 14, 14); */
}

.health-text {
  /* font-size: 1.8rem; */
  font-weight: 700;
}

.icon {
  font-size: 1.9rem;
  color: rgb(105, 14, 14);
}

.level {
  /* background: rgb(218, 210, 210); */
  font-size: 1.5rem;
  font-weight: 600;
  /* max-width: 30rem; */
  margin: 1rem auto;
}

.tracker {
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  /* gap: 2rem; */
}

.price {
  color: yellow;
  font-weight: 500;
  background: rgb(92, 90, 90);
  /* width: 2.5rem; */
  width: fit-content;
}

.gold {
  /* font-size: 3rem; */
  background: yellow;
  border-radius: 50px;
  /* max-width: 5rem; */
  width: fit-content;
  min-width: 4rem;
  padding: 1px;
  margin: auto;
}

.gold-modifier {
  font-size: 1.2rem;
  font-weight: 600;
}

.kills {
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;
}

.kills-text {}

.icon-s {
  font-size: 2rem;
}

.wrapper-main {
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
}

.wrapper-shop {
  background: rgb(118, 128, 153);
  margin: 2rem auto;
}

.wrapper-gold {}


.shop-grid {
  /* display: flex;
  gap: 1rem;
  padding-top: 1rem; */
  display: flex;
  justify-content: center;
}

.shop-icon {
  /* width: 5rem; */
  /* height: 2rem; */
  /* border: 2px solid maroon; */
  /* border-radius: 10px; */
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  /* background: var(--clr-a); */
}

.shop-btn {
  width: 6rem;
  font-family: inherit;
  font-size: 1.5rem;
}

.shop-text {
  font-size: 1.2rem;
}

.display-off {
  user-select: none;
  color: rgb(122, 117, 117);
  background: rgb(109, 106, 106);
}

.display-off:hover {}

.wrapper-bar {
  width: 40%;
  margin: auto;
  /* border: 3px solid red; */
}

.bar-content {
  background: rgb(87, 48, 110);
  margin: auto;
  min-width: 3.5rem;
  transition: all 200ms ease-in;
  color: white;
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  font-size: 1.3rem;
}

.exp-amount {
  background: rgb(87, 48, 110);
  width: fit-content;
  margin: auto;
  color: white;
  padding: 0 5px;
  border-top: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.enemy {
  font-size: 5rem;
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

.enemy:hover {}

.enemy:active {
  animation: shake 100ms;
}

@keyframes shake {
  from {
    transform: translateX(0.5rem);
    /* color: rgb(117, 117, 117); */
  }

  to {
    transform: translateX(0rem);
    /* color: rgb(204, 195, 195); */
  }
}

.slime {
  color: hsla(120, 100%, 25%, 0.5);
}

.treant {
  color: hsla(0, 59%, 41%, 0.5);
}

.goblin {
  color: hsla(0, 100%, 50%, 0.507);
}

.hat {
  color: hsla(0, 2%, 20%, 0.418);
}

.broom {
  color: hsla(60, 100%, 50%, 0.507);
}

.giant {}

.ogre {}

.enemy:active {}

.footer {
  /* max-width: fit-content; */
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer, ul {
  /* display: inline; */
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5rem;
  padding: 3px;
  color: rgb(7, 7, 7);
  background: rgb(148, 75, 75);
}

.debug {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 2rem;
}

.debug-btn {
  height: 3rem;
}

@keyframes moveY {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(0.2rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@media (max-width: 768px) {
  body {
    /* padding: 2rem 1rem; */
  }
}

@media (max-width: 1250px) {
  body {
    padding: 2rem 2rem;
  }
}

@media (max-width: 460px) {
  .footer, ul {
    flex-direction: column;
    gap: 1rem;
  }
}


@media (max-width: 310px) {
  .enemy {
    font-size: 4rem;
    word-break: break-all;
    height: 10rem;
  }
}