@import url("https://fonts.googleapis.com/css?family=Silkscreen");

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-a: rgb(218, 210, 210);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: Silkscreen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
  text-align: center;
  padding: 2rem 30vw;
  border-bottom: 2px solid black;
}

.App {
  /* text-align: center;
  padding: 2rem; */
}

.health {
  height: 3rem;
  width: 25rem;
  background: rgb(218, 210, 210);
  /* margin: auto; */
  border-radius: 20px;
  border: 3px solid rgb(114, 15, 15);
}

.level {
  /* background: rgb(218, 210, 210); */
  font-size: 1.5rem;
  /* max-width: 30rem; */
  margin: 1rem auto;
}


.tracker {
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  /* gap: 2rem; */
}

.price {
  color: yellow;
  font-weight: 500;
  background: rgb(92, 90, 90);
  /* width: 2.5rem; */
  width: fit-content;
}

.gold {
  /* font-size: 3rem; */
  background: yellow;
  border-radius: 50px;
  max-width: 10rem;
  padding: 1px;
  margin: auto;
}

.gold-modifier {
  font-size: 1.2rem;
  font-weight: 600;
}

.health-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.wrapper-main {
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
}

.wrapper-shop {
  /* position: absolute;
  top: 0;
  transform: translate(2rem, 8rem); */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background: rgb(146, 141, 141);
  /* width: fit-content; */
  /* width: 20rem; */
  margin: 2rem auto;

}

.wrapper-gold {}


.shop-grid {
  /* display: flex;
  gap: 1rem;
  padding-top: 1rem; */
  display: flex;
  justify-content: center;
}

.shop-icon {
  /* width: 5rem; */
  /* height: 2rem; */
  /* border: 2px solid maroon; */
  /* border-radius: 10px; */
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  /* background: var(--clr-a); */
}

.shop-btn {
  width: 6rem;
  font-family: inherit;
  font-size: 1.5rem;
}

.shop-text {
  font-size: 1.2rem;
}

.display-off {
  user-select: none;
  color: rgb(122, 117, 117);
  background: rgb(109, 106, 106);
}

.display-off:hover {}

.wrapper-bar {
  width: 40%;
  margin: auto;
  /* border: 3px solid red; */
}

.bar-content {
  background: blue;
  margin: auto;
  min-width: 2rem;
  transition: all 200ms ease-in;
  color: white;
}

.enemy {
  /* margin: auto;
  height: 20rem;
  max-width: 30rem;
  background: rgb(18, 95, 43); */
  font-size: 5rem;
  user-select: none;
  cursor: pointer;
}

.slime {
  /* background: hsla(120, 100%, 25%, 0.5); */
  color: hsla(120, 100%, 25%, 0.5);
  /* border: 5px solid hsl(120, 100%, 25%); */
}

.treant {
  /* background: hsla(0, 59%, 41%, 0.5); */
  color: hsla(0, 59%, 41%, 0.5);
  /* border: 5px solid hsla(0, 59%, 41%); */
}

.goblin {
  /* background: hsla(0, 100%, 50%, 0.507); */
  color: hsla(0, 100%, 50%, 0.507);
  /* border: 5px solid hsla(0, 100%, 50%); */
}

.hat {
  /* background: hsla(0, 2%, 20%, 0.418); */
  color: hsla(0, 2%, 20%, 0.418);
  /* border: 5px solid hsla(0, 2%, 20%, 0.418); */
}

.broom {
  /* background: hsla(60, 100%, 50%, 0.507); */
  color: hsla(60, 100%, 50%, 0.507);
  /* border: 5px solid hsla(60, 100%, 50%); */
}

.enemy:active {
  /* background: rgb(138, 26, 26);
  transition: background-color 100ms ease; */
  /* width: 28rem; */
  /* font-size: 5.2rem; */
}

.debug {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 2rem;
}

.debug-btn {
  height: 3rem;
}