*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.health {
  height: 3rem;
  width: 25rem;
  background: rgb(218, 210, 210);
  margin: auto;
  border-radius: 20px;
  border: 3px solid rgb(114, 15, 15);
}

.health-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.enemy {
  margin: auto;
  height: 20rem;
  width: 30rem;
  background: rgb(18, 95, 43);
  border-radius: 100px;
  /* transition: background-color 100ms ease-out; */
}

.slime {
  background: green;
}

.treant {
  background: brown;
}

.goblin {
  background: red;
}

.hat{
  background: rgb(51, 49, 49);
} 

.broom{
  background: yellow;
}

.enemy:active {
  /* background: rgb(138, 26, 26);
  transition: background-color 100ms ease; */
  width: 28rem;
}